body{
    font-family: "Roboto", "Open Sans", "Nova Lato", "PT Sans", "Oswald";  
    font-size: 100%;
    line-height: 1.7em;
    color:black; 
    background-color: lightyellow;
    

}

a {
    color: #351c75;
    text-decoration: none;
}
a:hover{
    color: #0f4970;
    text-decoration: underline;
}
h1{
    color:pink;
    font-size: 3.75em;
    font-family: "Oswald";
    font-style: italic;

}
h3{
    font-size: 1.5em;
    font-weight: 400;
    
}

#top_row h1{
color: pink;
font-size: 3.75em;
letter-spacing: -2px;
font-weight: bold;

}

#top_row h3{
color: cyan;
font-size: 2.25em; 
font-weight: 400; 
font-weight: bold;
font-style: italic;
font-family: "Oswald";
}

#bio{

margin-left: 3em;
font-size: .875em;


}

#bio a{

    text-decoration: none;
    color: black;
    border-bottom: 1px /*dotted #0000;*/
    
}

#bio a:hover{

    color: #0F4970;

}

table{

width: 75%;
border-style: solid;
border-width: 3px;
border-color: #075f8a;
border-spacing: 3px;
margin: auto;
table-layout: auto;
border-collapse: collapse;

}

th{

    height: 40px;
    font-weight: bold;

}

th, td{

padding: 2px;
text-align: center;
border-style: solid;
border-width: 1px;
color: #333333;

}

#container{

    width: 90%;
    margin: 10px auto;
    border: 1px /*solid gray;*/
}

#top_row {
    border-bottom: 1px dotted #ccc;
    padding: .5em .5em 3em .5em;

}
#top_row header{
   
    margin-bottom: -2.5em;

}

#top_row nav{

    float: right;

}

#top_row nav a{
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    color: #000000;
}

#top_row nav a.selected{

    background: #f6f6f6;
    color: #bbbbbb;
}

#top_row nav a.selected:hover {

    background: #f6f6f6;
    color: #bbbbbb;
}

#top_row nav a:hover{


    background: #f6f6f6;
    color: #0f4970;
}

#content{

    float: left;
    width: 65%;
    margin: 0;
    padding: 1em;
    border-right: 1px dotted #ccc;



}

#content h3{

    font-family: "Nova Lato";
    font-size: 1.5em;
    margin: 30px 0 10px 0;
    font-weight: normal;
    
    font-weight: bold;

}

#content img{
        float: left;
        margin: 1em;


}

 #sidebar{
    float: left;
    padding: 1em;
    font-size: 1.25em;
    font-family: "Roboto";
}

#sidebar h3{

    font-size: 1.125em;
    border-bottom: 1px dotted #ccc;
} 

#sidebar img{
    height: 200px;
    width: 300px;
}

footer{
        clear: both;
        margin: 0;
        padding: .5em ;
        color: #333333;
        font-variant: small-caps;
        font-size: 0.813em;
        text-align: center;
        border-top: 1px dotted #cccccc;
        background-color: lightyellow;

}
form{
    width: 75%;
    margin: auto;
    border: 1px solid #075f8a;
    border-spacing: 10px;
}

form fieldset legend{

    font-weight: bold;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}

form fieldset label{
    font-weight: bold;
    text-align: center;

}
html{

    overflow-y: scroll;
}
#locate{
    font-weight: bold;
    font-size: 1.75em;
    clear:both;
    font-family: "Nova Lato";
   
    
}
#iframe{
    margin:auto; 
}

#images img{
    height: 100px;
    width: 100px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
}

footer img{
    height: 25px;
    width: 25px;
    
}
#tabs img{
    height: 600px; 
    width: 500px;
}
#contactus{
    clear: both;
}

#cont{
    text-align: left;
}
#contstrip{
    text-align: left;
}
#contactstrip{
    clear: both;
}
#contwalnut{
    text-align: left;
}
#contactwalnut{
    clear: both;
}
#contleb{
    text-align: left;
}
#contactleb{
    clear: both;
}

